<h1>Wut Do</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.name %></li>
  <% end %>
</ul>

<h2>New Task</h2>


<% if @task !=nil && @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_name">Name</label>
  <input id="task_name" name="name" type="text">
  <button>Create Task</button>
</form>
