<h2>New Task</h2>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_name">Name</label>
  <input id="task_name" name="task[name]" type="text" value="<%= @task.name %>">
  <button>Create Task</button>
</form>
